#version: "3.8"

services:
  backend:
    build: ./sentiment-backend
    container_name: fastapi_app
    ports:
      - "8000:8000"
    env_file:
      - ./sentiment-backend/.env
    volumes:
      - ./sentiment-backend:/app
      - ./sentiment-backend/reviews.db:/app/reviews.db
    networks:
      - app_network

  frontend:
    build: .
    container_name: react_app
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
